@import 'normalize.css';
@import 'reset.css';
@import 'fonts.css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/backrgound_book.avif);
  background-repeat: round;
  background-size: auto;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  line-height: 30px
}

section {
  margin: 5px 0;
  padding: 0 10px;
  border: 3px solid black;
  border-radius: 15px;
}

.note {
  font-family: Roboto Bold, sans-serif;
}

.italics {
  font-style: italic;
  font-weight: 600;
}

.emphasized {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

h2 {
  font-size: 20px;
  text-align: center;
  padding: 20px 0;
  font-family: Harry Potter, sans-serif;
}

h2:hover {
  color: rgb(37, 215, 37);
}

p {
  padding: 10px 0;
  text-indent: 10px
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 10px;
  z-index: 1;
}

.header__title {
  font-size: 40px;
  padding: 40px 0;
  text-align: center;
  font-family: Harry Potter, sans-serif;
}

.header__nav {
  background-image: url(../images/backrgound_book.avif);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  border: 3px solid #bfbb77;
  box-shadow: 10px -10px 7px 0px #666214;
  border-radius: 15px;
  padding: 30px;
  margin: 0 auto;
}

.header__nav:hover {
  border-color: rgb(37, 215, 37);
}

.link__chapter {
  padding-left: 15px;
}

.header__link:hover {
  color: rgb(37, 215, 37);
}

.header__link, .header__link:visited {
  color: black;
  text-decoration: none;
}

.header__logo {
  max-width: 400px;
  transition: transform 2s;
}

.header__logo:hover {
  transform: rotateY(360deg);
}

.book {
  position: absolute;
  left: 20px;
}

.footer__link {
  font-family: Harry Potter, sans-serif;
  color: black;
  text-decoration: none;
}

.footer {
  padding-top: 15px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

.footer__link:hover {
  color: rgb(37, 215, 37);
}

.main__two {
  font-size: 35px;
  text-align: justify;
}

.main__two-table {
  margin-top: 35px;
  border: 5px solid black;
}

.main__two-table:hover {
  border-color: rgb(37, 215, 37);
}

td {
  padding: 20px;
}

.death {
  font-family: Roboto Bold, sans-serif;
}